@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno/TTF/MuseoModerno-Bold.ttf") format("truetype"), url("../fonts/MuseoModerno/WOFF2/MuseoModerno-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno/TTF/MuseoModerno-Regular.ttf") format("truetype"), url("../fonts/MuseoModerno/WOFF2/MuseoModerno-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno/TTF/MuseoModerno-Medium.ttf") format("truetype"), url("../fonts/MuseoModerno/WOFF2/MuseoModerno-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno/TTF/MuseoModerno-Light.ttf") format("truetype"), url("../fonts/MuseoModerno/WOFF2/MuseoModerno-Light") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/TTF/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/WOFF2/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  font-family: "MuseoModerno";
}

p {
  margin: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo {
  padding: 21px 0 93px;
  min-height: 650px;
  background: url(../img/bg.jpg) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  text-align: center;
  width: 108px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.promo__icon img {
  display: block;
  margin: 0 auto 20px;
}
.promo__link {
  margin-top: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.promo__link a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__oficial {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__oficial span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  color: #FFF;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  color: #FFF;
  height: 55px;
  font-size: 16px;
}
.button_mini {
  width: 135px;
  height: 44px;
  font-size: 14px;
}

.advantage {
  min-height: 473px;
  padding: 73px 0 83px;
  background-color: #f6f6f6;
}
.advantage__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.advantage__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0D0D0D;
  text-align: center;
}
.advantage__card-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}
.advantage__card-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.advantage__card-description_red {
  color: #F00;
}
.advantage__card:not(:nth-child(3n)) {
  margin-right: 65px;
}
.advantage__card-img {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.advantage__card-img_1 {
  background-image: url("../icons/cup.svg");
}
.advantage__card-img_2 {
  background-image: url("../icons/heart.svg");
}
.advantage__card-img_2-animated {
  -webkit-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.advantage__card-img_3 {
  background-image: url("../icons/shoe.svg");
}

.section-title {
  margin-bottom: 65px;
  color: #0D0D0D;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.section-title_left {
  color: #fff;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px;
  background: url("../img/bg2.png") center center/cover no-repeat;
}
.consultation__descr {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}
.consultation .error {
  border: 1px solid red;
  text-align: center;
  margin-bottom: 12px;
}
.consultation label.error {
  border: none;
  color: white;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4B4B4B;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.carusel {
  padding: 81px 0;
}
.carusel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carusel__inner img {
  width: 100%;
}
.carusel .slick-prev, .carusel .slick-next {
  position: absolute;
  top: 50%;
  left: -66px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
}
.carusel .slick-prev:focus, .carusel .slick-next:focus {
  outline: 2px solid rgb(255, 255, 255);
}
.carusel .slick-prev img, .carusel .slick-next img {
  width: 31px;
  height: 50px;
}
.carusel .slick-next {
  left: auto;
  right: -66px;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #D0D0D0;
  color: #6B6B6B;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #c70101;
          box-shadow: 3px 3px 20px #c70101;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}
.catalog__content {
  display: none;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  padding: 20px 20px 27px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  overflow: hidden;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.catalog-item__descr {
  margin-top: 16px;
  color: #0D0D0D;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration-line: underline;
}
.catalog-item__link:hover {
  color: #c70101;
}
.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  color: #555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 20px;
  padding-left: 15px;
  margin-bottom: 0;
}
.catalog-item__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0;
}
.catalog-item__list li {
  position: relative;
  color: #555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 7px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog-item__back:hover {
  color: #c70101;
}

.review {
  padding-bottom: 49px;
}
.review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.review__customer {
  margin-right: 61px;
  width: 169px;
  height: 169px;
  border-radius: 100%;
}
.review__info {
  color: #0D0D0D;
}
.review__info-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.review__info-descr {
  display: block;
  margin-bottom: 10px;
  color: #646464;
  font-size: 14px;
  font-weight: 500;
}
.review__info-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.review__info-text:not(last-child) {
  margin-bottom: 10px;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  padding: 50px 69px 60px;
  text-align: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 460px;
  height: 270px;
  background-color: #c70101;
}
.footer__adress {
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #FFF;
}
.footer__phone {
  display: block;
  margin-bottom: 38px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.footer__phone:hover {
  color: #fff;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: 0 15px;
}
.footer__social-item img {
  height: 27px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer iframe {
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 382px;
  min-height: 402px;
  padding: 38px 40px 40px;
  background-color: #F2F2F2;
}
.modal__close {
  position: absolute;
  top: -12px;
  right: -40px;
  color: #c70101;
  font-size: 41px;
  line-height: 1;
  cursor: pointer;
}
.modal__subtitle {
  margin-bottom: 10px;
  color: #0D0D0D;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
}
.modal__descr {
  color: #0D0D0D;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}
.modal_mini {
  min-height: 140px;
}
.modal .error {
  border: 1px solid red;
  text-align: center;
  margin-bottom: 12px;
}
.modal label.error {
  border: none;
}

#consultation, #order, #thanks {
  display: none;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.pageup img {
  width: 100%;
}

@media (max-width: 1199px) {
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-title_left {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .promo__wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-top: 60px;
  }
  .promo__icons {
    margin-top: 35px;
  }
  .header__logo {
    max-width: 220px;
  }
  .header__phone {
    font-size: 16px;
  }
  .button_main {
    margin-top: 40px;
    width: 230px;
    font-size: 14px;
  }
  .advantage {
    padding: 53px 0 63px;
  }
  .section-title {
    font-size: 28px;
  }
  .section-title_left {
    font-size: 28px;
  }
  .carusel__inner {
    width: 100%;
  }
  .carusel__inner .slick-next {
    right: 0;
    opacity: 0.5;
    z-index: 1;
  }
  .carusel__inner .slick-prev {
    left: 0;
    opacity: 0.5;
    z-index: 1;
  }
  .carusel .slick-slide img {
    margin: 0 auto;
  }
  .catalog__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .footer__info {
    padding: 30px 40px 30px;
    max-width: 375px;
    max-height: 230px;
  }
}
@media (max-width: 767px) {
  .promo {
    padding: 20px 0 40px;
    min-height: 100vh;
  }
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__oficial {
    display: none;
  }
  .advantage {
    padding: 30px 0;
  }
  .advantage__cards {
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantage__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
  .advantage__card:not(:nth-child(3n)) {
    margin: 0;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .consultation {
    padding: 60px 0;
  }
  .feed-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .button_submit {
    max-width: 232px;
    font-size: 14px;
  }
  .button_mini {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }
  .carusel {
    padding: 40px 0;
  }
  .carusel__inner ul {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 25px;
  }
  .carusel__inner ul button {
    border-radius: 100%;
    border: none;
    background-color: #c70101;
    outline: 1px solid rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    font-size: 0;
  }
  .catalog__tabs {
    gap: 8px;
    margin-top: 30px;
  }
  .catalog__tab {
    max-width: 150px;
    max-height: 40px;
    font-size: 16px;
    line-height: 1;
  }
  .catalog-item {
    margin-bottom: 0;
  }
  .catalog-item__old-price {
    font-size: 12px;
  }
  .catalog-item__price {
    font-size: 18px;
  }
  .footer__info {
    padding: 10px 20px 10px;
    max-width: 300px;
    max-height: 160px;
    left: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .footer__adress {
    margin-bottom: 10px;
  }
  .footer__phone {
    margin-bottom: 15px;
  }
  .footer__social-item {
    width: 40px;
    height: 40px;
  }
  .footer__social-item img {
    height: 20px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 5px;
  }
  .promo {
    padding: 10px 0;
  }
  .promo__header {
    font-size: 30px;
    text-align: center;
  }
  .promo__subheader {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
  }
  .promo__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 290px;
  }
  .promo__icon {
    width: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    font-size: 11px;
    line-height: 1;
  }
  .promo__icon img {
    max-width: 35px;
  }
  .header {
    gap: 10px;
  }
  .header__phone {
    font-size: 12px;
    text-align: center;
  }
  .button {
    max-width: 115px;
    max-height: 30px;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
  }
  .button_main {
    font-size: 14px;
    min-height: 38px;
    max-width: 220px;
  }
  .section-title {
    font-size: 24px;
  }
  .advantage__cards {
    gap: 10px;
  }
  .advantage__card {
    padding-bottom: 15px;
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    border-bottom: 1px solid #c70101;
  }
  .section-title_left {
    margin-bottom: 15px;
    text-align: center;
    line-height: 28px;
  }
  .consultation {
    min-height: 555px;
    padding: 30px;
  }
  .consultation__descr {
    text-align: center;
    line-height: 1;
  }
  .feed-form input {
    height: 45px;
    margin-top: 15px;
  }
  .feed-form .button_submit {
    max-width: 232px;
    max-height: 40px;
  }
  .carusel {
    padding: 30px 0;
  }
  .carusel__inner ul {
    gap: 20px;
  }
  .carusel__inner ul button {
    width: 20px;
    height: 20px;
  }
  .catalog__tabs {
    gap: 5px;
  }
  .catalog__tab {
    max-width: 90px;
    font-size: 12.5px;
  }
  .catalog__content {
    margin-top: 20px;
    gap: 5px;
  }
  .catalog-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .review {
    padding-bottom: 20px;
  }
  .review__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    padding: 0 12px;
    border-bottom: 1px solid #c70101;
  }
  .review__customer {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 165px;
    height: auto;
  }
  .review__info-title {
    padding-top: 20px;
  }
  .footer__info {
    padding: 5px 10px 5px;
    max-width: 100%;
    max-height: 135px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer__adress, .footer__phone {
    font-size: 18px;
  }
  .footer__social-item {
    width: 40px;
    height: 40px;
  }
  .footer__social-item img {
    height: 20px;
  }
  .modal {
    width: 90vw;
    padding: 27px 5px 5px;
    min-height: 390px;
  }
  .modal__close {
    top: -7px;
    right: 3px;
  }
  .modal__subtitle {
    font-size: 17px;
  }
  .feed-form_mt25 {
    margin-top: 10px;
  }
}